{% load wagtailcore_tags wagtailimages_tags custom_tags wagtailroutablepage_tags %}

{% image post.specific.main_image fill-300x200 as img %}


    <!-- Card Narrower -->
<div class="card card-cascade narrower mb-4">

  <!-- Card image -->
  <div class="view view-cascade overlay">
      <a href="{% pageurl post %}">
          {% if  post.main_image %}
          <img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top">
          {% else %}
          <img src="https://via.placeholder.com/300x200" alt="{{ img.alt }}" class="card-img-top">
          {% endif %}
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade">

    <!-- Label -->
    <h5 class="pink-text pb-2 pt-1"><i class="fas fa-utensils"></i> Category</h5>
    <!-- Title -->
    <h4 class="font-weight-bold card-title">{{ post.title }}</h4>
    <!-- Text -->
    <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
    <!-- Button -->
    <a href="{% pageurl post %}" class="btn btn-unique">Button</a>

  </div>

</div>
                  

